@font-face {
  font-family: "myfont";
  src:url("fonts/ufonts.com_gotham-black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mymenu";
  src:url("fonts/Futura.ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mytext";
  src:url("fonts/Futura (Light).ttf");
  font-weight: normal;
  font-style: normal;
}
