@import "reset";

@import "fontface";

@import "variables";

header{
  float: left;
  margin: 0 7% 0 35px;
}

h1.home{
  font: 150% $font-stack;
  display: flex;
  align-self: flex-start;
}

ul{
  font: 90% $font-stack2;
  margin-top: 35px;
  margin-left: 0;
}

ul.home{
  line-height: 25px;
  margin:5% 0 30% 0;
}

li.home{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:20px 0 15px 0;
}

a:link{
  color:lighten($color-main,50%);
  text-decoration: none;
}

a.contact:link{
  color:$color-main;
}

a:visited{
  color:lighten($color-main,50%);
}

a.contact:visited{
  color:$color-main;
}

div{
  margin-top: 35px;
  padding-top: 5%;
}

img{
  width:18.4%;
  margin:-4px -4px 0 0;
}

h1.titulo{
  font: 180% $font-stack2;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

img.contact{
  width:40%;
  float: left;
  margin: 8% 4% 0 7%;
}

p.contact{
  font: 100% $font-stack3;
  text-align: left;
  line-height: 24px;
  margin:8% 4% 0 0;
}

@media screen and (min-width: 400px){
  header{
    margin-top: 35px;
  }

  div{
    margin-left: 0;
  }

  img{
    width:100%;
  }

  img.cover{
    padding-top: 6%;
  }

  h1.titulo{
    clear: both;
    margin-left: 35px;
    padding-top: 40px;
  }

  img.contact{
    width:90%;
  }

  p.contact{
    margin-left: 35px;
    padding-top: 10%;
    clear: both;
    margin-bottom: 5%;
  }
}

@media screen and (min-width:700px){
  div{
    margin-left: 45%;
  }

  img{
    width:100%;
  }

  img.contact{
    width:85%;

  }

  p.contact{
    margin-left: 47px;
    padding-top: 10%;
    margin-right: 5%;
    clear: both;
  }
}

@media screen and (min-width:870px){
  img{
    width:50%;
  }

  h1.titulo{
    clear: none;
  }

  img.contact{
    width:52%;
    margin-bottom: 5%;
  }

  p.contact{
    clear: none;
    text-align: center;
    margin-left: 42%;
  }
}

@media screen and (min-width: 1024px){
  div{
    margin-left: 32%;
    padding-top: 4%;
  }

  img{
    width: 25%;
  }

  img.contact{
    width:40%;
    margin-top: 5%;
  }

  p.contact{
    clear: none;
    text-align: left;
    margin: 5% 5% 0 42%;
    padding-top: 0;
  }
}
