$font-name:'Lato', sans-serif;

$font-menu: 'Raleway', sans-serif;

$color-main: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

$querie-position: absolute;

$querie-align: center;

$querie-background: rgba(255, 255, 255, 0.95);

$querie-contact: right;
